/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  padding: 2rem 0;
  border-bottom: 0.3rem dashed silver;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  font-size: 2.6rem;
  flex: 1;
}
.header .nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex: 2;
}
.header .nav-bar .nav-item {
  text-decoration: none;
  color: grey;
  font-size: 1.8rem;
}
.main-content {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
.main-content .outter-challenge-content h2 {
  font-size: 2rem;
  text-decoration: underline;
}
.main-content .outter-challenge-content .inner-challenge-content {
  margin: 1.5rem;
  background: whitesmoke;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.main-content .outter-challenge-content .inner-challenge-content h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.main-content .outter-challenge-content .inner-challenge-content .form-container form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-content .outter-challenge-content .inner-challenge-content .form-container form label {
  font-size: 1.8rem;
  flex: 1;
}
.main-content .outter-challenge-content .inner-challenge-content .form-container form input {
  padding: 0.75rem;
  font-size: 1.8rem;
  flex: 2;
}
.main-content .outter-challenge-content .inner-challenge-content .form-container form button {
  border: 0.1rem solid transparent;
  padding: 0.8rem 2rem;
  font-size: 1.8rem;
  color: white;
  background: crimson;
  flex: 1;
}
.main-content .outter-challenge-content .inner-challenge-content .result-container {
  margin-top: 3rem;
  text-align: center;
}
.main-content .outter-challenge-content .inner-challenge-content .result-container p {
  font-size: 2.8rem;
}
